.header {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  align-items: center;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 0.9rem;
}

.header__nav svg {
  font-size: 1.4rem;
}